@CHARSET "UTF-8";

global {
  fontSize: 12;
  fontFamily: Tahoma;
}

Application {
  paddingTop: 10;
  paddingRight: 10;
  paddingBottom: 0;
  paddingLeft: 10;
  horizontalGap: 10;
  verticalGap: 10;
  /*background-image: Embed("/assets/copy.png");
  background-size: 97px 16px;
  backgroundPosition: "bottom right";
  background-repeat: no-repeat;*/
}

ApplicationControlBar {
  background-color: #22323c;
  color: #ffffff;
}
.applicationControlBarLabel {
  letterSpacing: 1;
  color: #ffffff;
  fontSize: 14;
}

Panel {
  margin: 5;
  paddingTop: 0;
  paddingRight: 0;
  paddingBottom: 0;
  paddingLeft: 0;
  borderColor: #22323c;
  borderAlpha: 0.9;
  titleStyleName: "panelTitle";
}

.panelTitle {
  letterSpacing: 2;
  color: #ffffff;
  fontFamily: Tahoma;
  fontSize: 14;
}

.copyText {
  letterSpacing: 2;
  fontSize: 8;
  fontStyle: italic;
  color: #ffffff;
}

